/* CSS Reset */

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* CSS Variables */

:root {
    --navbar-height: 59px;
}



.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;

}